.timelabel{
    text-align : left;
    vertical-align : bottom;
    font-size : 0.9em;
    color : #808080;
    width:15%;
}

.formerror{
 	background-color : #F8E4E4;
 	border : red 1px solid;
}

.errorbox{
   	border : 1px solid red;
 	color : red;
 	padding : 1px;
}

.green{
  color : green;
  font-weight : bold;
}

.red{
  color : red;
  font-weight : bold;
}


.visiblediv{
  visibility: visible; 
  display : block
}

.hiddendiv{
  visibility: hidden; 
  display : none
}

table.noextraspace{
	border-collapse:collapse;
}

table.noextraspace th, 
table.noextraspace td{
	border: 0px;
	padding: 0px;
}
